html {
	position: relative;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #60d7f2;
    background-image: url(../img/background.png);
    background-size: 1024px 600px;
    background-position: center bottom;
    background-attachment: fixed;
    background-repeat: repeat-x;
    height: 100%;
    color: #fff;
    text-shadow: 2px 2px 0 #000;
    margin-bottom: 200px;
    font-family: Century Gothic,Verdana,Arial;
}

h1 {
	text-align: center;
   -webkit-animation-name: Floatingx;
   -webkit-animation-duration: 4s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: ease-in-out;
   -moz-animation-name: Floating;
   -moz-animation-duration: 4s;
   -moz-animation-iteration-count: infinite;
   -moz-animation-timing-function: ease-in-out;
}

#profile {
   -webkit-animation-name: Floatingx;
   -webkit-animation-duration: 4s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: ease-in-out;
   -moz-animation-name: Floating;
   -moz-animation-duration: 4s;
   -moz-animation-iteration-count: infinite;
   -moz-animation-timing-function: ease-in-out;
}

#profile img {
	border: 5px solid;
	width: 150px;
	border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profile p {
	text-align: center;
	font-size: 25px;
	color: transparent;
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: animatedgradient 3s ease-in-out infinite;
    background-size: 400% 100%;
}



               
@-webkit-keyframes Floatingx {
	from {
    	-webkit-transform: translate(0, 0px);
    }

    65% {
        -webkit-transform: translate(0, 15px);
    }

    to {
        -webkit-transform: translate(0, -0px);
    }
}

@-moz-keyframes Floating {
	from {
    	-moz-transform: translate(0, 0px);
    }

    65% {
    	-moz-transform: translate(0, 15px);
    }

    to {
    	-moz-transform: translate(0, -0px);
    }

}

#links {
	text-align: center;
   -webkit-animation-name: Floatingx;
   -webkit-animation-duration: 4s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: ease-in-out;
   -moz-animation-name: Floating;
   -moz-animation-duration: 4s;
   -moz-animation-iteration-count: infinite;
   -moz-animation-timing-function: ease-in-out;
}

h3 {
	font-size: 30px;
   -webkit-animation-name: Floatingx;
   -webkit-animation-duration: 4s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: ease-in-out;
   -moz-animation-name: Floating;
   -moz-animation-duration: 4s;
   -moz-animation-iteration-count: infinite;
   -moz-animation-timing-function: ease-in-out;

}

.container p {
   -webkit-animation-name: Floatingx;
   -webkit-animation-duration: 4s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: ease-in-out;
   -moz-animation-name: Floating;
   -moz-animation-duration: 4s;
   -moz-animation-iteration-count: infinite;
   -moz-animation-timing-function: ease-in-out;
}

.cloud {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 197px;
    height: 111px;
    background-image: url(../img/cloud.png);
    background-size: 100% 100%;
    z-index: -9
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
